/* Styles for the product grid */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-item {
    flex: 1 1 300px; /* Each item takes at least 300px, adjusting based on screen width */
    max-width: 320px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .service-desc {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-desc video {
    border-radius: 8px;
  }
  #services h3 {
    color: #040404;
  }
  #services h2 {
    color: #ffffff;
    text-align: center;
  } 
  
  #services p {
    color: #e5a225;
    text-align: center;
  } 